body{
    margin: 5px;
    background-image: url(../images/barbie-background.png);
    background-repeat: repeat;
    font-family: monospace;
}



.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: auto;
    background-color: rgb(255, 0, 174);
    font-family: monospace;
    font-size: 15px;
}
a{
    color: rgb(0, 0, 0);
}