body{
    margin: 5px;
    background-image: url(../images/netflag-background.png);
    background-size: cover;
    font-family: monospace;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: auto;
    background-color: rgb(255, 0, 174);
    font-family: monospace;
    font-size: 15px;
}
a{
    color: rgb(0, 0, 0);
}
a:hover{
    background-color: aquamarine;
}

.title{
    background-color: yellow;
    color: rgb(57, 225, 1);
    display: flex;
    justify-content: center;
}
.title :hover{
    background-color: yellow;
}

p{
    background-color: yellow;
    color: rgb(57, 225, 1); 
    padding: 10px;
    margin: 5px;
    float: right;
    width: 50%
}

.currentflag{
    margin: 5px;
    width: 50%;    
    float: left;
}